In [1]:
import pandas as pd

In [2]:
df2019 = pd.read_csv('201908-citibike-tripdata.csv')
df2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
dfJC2019 = pd.read_csv('JC-201908-citibike-tripdata.csv')
dfJC2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [4]:
df201908 = pd.concat([df2019, dfJC2019])
df201908.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [5]:
df201908.count()

tripduration               2392935
starttime                  2392935
stoptime                   2392935
start station id           2392846
start station name         2392846
start station latitude     2392935
start station longitude    2392935
end station id             2392846
end station name           2392846
end station latitude       2392935
end station longitude      2392935
bikeid                     2392935
usertype                   2392935
birth year                 2392935
gender                     2392935
dtype: int64

In [6]:
df201908 = df201908.rename(columns={"tripduration": "Trip Duration (sec)", 
                    "starttime": "Start Time", 
                   "stoptime": "Stop Time",
                   "start station id": "Start Station ID",
                   "start station name": "Start Station Name",
                   "start station latitude": "Start Station Latitude",
                   "start station longitude": "Start Station Longitude",
                   "end station id": "End Station ID",
                   "end station name": "End Station Name",
                   "end station latitude": "End Station Latitude",
                   "end station longitude": "End Station Longitude",
                   "bikeid": "Bike ID",
                   "usertype": "User Type",
                   "birth year": "Birth Year",
                   "gender":"Gender"})
df201908.head()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [7]:
#exclude ages: identify the age 2 standard deviations lower than the mean. After calculating this number, mean - 2stdev, remove the tail end of the data
df201908 = df201908.drop(df201908.index[(df201908['Birth Year'] < df201908['Birth Year'].mean()-(2*df201908['Birth Year'].std()))])

In [8]:
df201908.count()

Trip Duration (sec)        2307767
Start Time                 2307767
Stop Time                  2307767
Start Station ID           2307678
Start Station Name         2307678
Start Station Latitude     2307767
Start Station Longitude    2307767
End Station ID             2307678
End Station Name           2307678
End Station Latitude       2307767
End Station Longitude      2307767
Bike ID                    2307767
User Type                  2307767
Birth Year                 2307767
Gender                     2307767
dtype: int64

In [9]:
#Add Age column
df201908["Age"] = 2019 - df201908["Birth Year"]
df201908.head()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,23
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,21
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,31
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,31
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,54

In [10]:
#drop circular trips
df201908 = df201908.drop(df201908.index[(df201908['Start Station Latitude']-df201908['End Station Latitude'] == 0)])

In [11]:
df201908.count()

Trip Duration (sec)        2245550
Start Time                 2245550
Stop Time                  2245550
Start Station ID           2245499
Start Station Name         2245499
Start Station Latitude     2245550
Start Station Longitude    2245550
End Station ID             2245499
End Station Name           2245499
End Station Latitude       2245550
End Station Longitude      2245550
Bike ID                    2245550
User Type                  2245550
Birth Year                 2245550
Gender                     2245550
Age                        2245550
dtype: int64

In [12]:
#drop n/a
df201908 = df201908.dropna(how='any').reset_index(drop=True)
df201908.count()

Trip Duration (sec)        2245499
Start Time                 2245499
Stop Time                  2245499
Start Station ID           2245499
Start Station Name         2245499
Start Station Latitude     2245499
Start Station Longitude    2245499
End Station ID             2245499
End Station Name           2245499
End Station Latitude       2245499
End Station Longitude      2245499
Bike ID                    2245499
User Type                  2245499
Birth Year                 2245499
Gender                     2245499
Age                        2245499
dtype: int64

In [13]:
df201908.to_csv('citibike_201908.csv', index=False)